n8n-workflows/gcom-sales-supabase.json
{
  "name": "GCOM Sales → Supabase (Hourly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst oneHourAgo = new Date(now.getTime() - (60 * 60 * 1000));\nconst horaAnterior = oneHourAgo.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn { horaAnterior };"
      },
      "id": "calculate-time",
      "name": "Calculate Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  _id,\n  delivery_title,\n  created_at,\n  finished_at,\n  price\nFROM\n  g4u_actions_v\nWHERE\n  created_at > \"{{ $json.horaAnterior }}\"\n  AND action_id = 'sell_product'\nORDER BY\n  created_at DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [650, 300],
      "id": "fetch-new-sales",
      "name": "Fetch New Sales from GCOM",
      "credentials": {
        "mySql": {
          "id": "{{YOUR_MYSQL_CREDENTIAL_ID}}",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-sales",
      "name": "Split Sales",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.VERCEL_API_URL }}/api/gcom-sale-webhook",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \n  _id: $json._id, \n  delivery_title: $json.delivery_title, \n  price: $json.price, \n  created_at: $json.created_at,\n  finished_at: $json.finished_at\n}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "call-vercel-api",
      "name": "Call Vercel API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log success\nconst saleId = $input.first().json._id;\nconst pointsAwarded = $input.first().json.points_awarded || 0;\n\nconsole.log(`✅ Sale ${saleId} processed successfully. Points awarded: ${pointsAwarded}`);\n\nreturn $input.all();"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "jsCode": "// Log error\nconst saleId = $input.first().json._id;\nconst error = $input.first().json.error || 'Unknown error';\n\nconsole.error(`❌ Sale ${saleId} failed: ${error}`);\n\nreturn $input.all();"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Calculate Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Time": {
      "main": [
        [
          {
            "node": "Fetch New Sales from GCOM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch New Sales from GCOM": {
      "main": [
        [
          {
            "node": "Split Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sales": {
      "main": [
        [
          {
            "node": "Call Vercel API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Vercel API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Split Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Split Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-20T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
