n8n-workflows/gcom-sales-supabase.json
{
  "name": "GCOM Sales → Supabase",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours"}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "schedule-trigger",
      "name": "Every Hour"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "hora-atual",
              "name": "horaAtual",
              "value": "={{ $now.setZone(\"America/Sao_Paulo\").toFormat(\"yyyy-MM-dd HH:00:00\") }}",
              "type": "string"
            },
            {
              "id": "hora-anterior",
              "name": "horaAnterior",
              "value": "={{ $now.setZone(\"America/Sao_Paulo\").minus({ hours: 1 }).toFormat(\"yyyy-MM-dd HH:00:00\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 0],
      "id": "get-time-range",
      "name": "Get Time Range"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  ID_ETB_GCOM,\n  ID_EMP_GCOM,\n  status,\n  delivery_id,\n  delivery_title,\n  created_at,\n  finished_at,\n  integration_id,\n  price,\n  comments,\n  action_id\nFROM\n  g4u_actions_v\nWHERE\n  created_at > \"{{ $json.horaAnterior }}\"\n  AND finished_at IS NOT NULL\nORDER BY\n  created_at DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [400, 0],
      "id": "query-gcom",
      "name": "Query GCOM Sales",
      "credentials": {
        "mySql": {
          "id": "YOUR_MYSQL_CREDENTIAL_ID",
          "name": "GCOM MySQL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-domain.vercel.app/api/gcom-sale-webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"_id\": \"{{ $json.ID_EMP_GCOM }}\",\n  \"delivery_title\": \"{{ $json.delivery_title }}\",\n  \"price\": {{ $json.price }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 0],
      "id": "call-supabase-api",
      "name": "Call Supabase API"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 0],
      "id": "check-success",
      "name": "Check Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-message",
              "name": "message",
              "value": "=Venda registrada: {{ $json.player_name }} - R$ {{ $json.price }} - {{ $json.points_awarded }} pontos (Presença: {{ $json.has_presence }})",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, -100],
      "id": "success-log",
      "name": "Success Log"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-message",
              "name": "error",
              "value": "=Erro ao registrar venda: {{ $json.error }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 100],
      "id": "error-log",
      "name": "Error Log"
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [[{"node": "Get Time Range", "type": "main", "index": 0}]]
    },
    "Get Time Range": {
      "main": [[{"node": "Query GCOM Sales", "type": "main", "index": 0}]]
    },
    "Query GCOM Sales": {
      "main": [[{"node": "Call Supabase API", "type": "main", "index": 0}]]
    },
    "Call Supabase API": {
      "main": [[{"node": "Check Success", "type": "main", "index": 0}]]
    },
    "Check Success": {
      "main": [
        [{"node": "Success Log", "type": "main", "index": 0}],
        [{"node": "Error Log", "type": "main", "index": 0}]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
